{% extends "_layout.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('add_campaign') }}">
        {{ form.hidden_tag() }}
        {% for error in form.errors %}
            <div class="alert alert-danger">
                <p>{{error}}</p>
            </div>
        {% endfor %}
        <fieldset>
            <legend><i class="fa fa-plus-square"></i> Add Campaign</legend>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="job_number">Job Number:</label>
                        <input type="text" class="form-control" id="job_number" name="job_number" aria-describedby="job_number_help" placeholder="Enter Job Number">
                        <small id="job_number_help" class="form-text text-muted">Enter the Campaign Job Number.</small>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label for="client_id">Client ID:</label>
                      <input type="text" class="form-control" id="client_id" name="client_id" aria-describedby="client_id_help" placeholder="Enter Client ID">
                      <small id="client_id_help" class="form-text text-muted">Enter the Campaign Client ID.</small>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label for="client_id">Campaign:</label>
                      <input type="text" class="form-control" id="campaign" name="campaign" aria-describedby="campaign_help" placeholder="Enter a Friendly Campaign Name">
                      <small id="campaign_help" class="form-text text-muted">Enter a Friendly Campaign Name.</small>
                    </div>
                </div>
        </fieldset>
        <div class="col-lg-12">
            <button type="submit" name="saveCampaign" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save Campaign</button>
            <a href="{{ url_for('campaigns') }}" class="btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Cancel</a>
        </div>

    </form>
{% endblock %}