{% extends '_layout.html' %}

{% block content %}

    <h3 style="margin-bottom: 10px"><a class="text-primary" href="#" title="Toggle Code View" onclick="toggleMe('code_block');"><i class="fa fa-gear"></i></a> Campaign Detail &raquo; {{ campaigns.campaigns.campaign }} &raquo; Total Captures: {{ sends_count }}
        <span class="pull-right">
            <a href="{{ url_for('campaigns') }}"
               class="btn btn-sm btn-primary">
                <i class="fa fa-arrow-circle-left"></i>
                Return to Campaigns
            </a>
            <a href="{{ url_for('add_campaign') }}"
               class="btn btn-sm btn-default"
               style="margin-left:5px;">
                <i class="fa fa-plus-square"></i>
                Add Campaign
            </a>
        </span>
    </h3>
    <br />
    <div id="code_block" style="display: none;">
        <div class="alert alert-block alert-warning">
            <h4 class="alert-heading">{{ campaigns.campaigns.campaign }} Tracking Code:</h4>
            <p>http://35.153.237.152/api/generate-pixel?job_number={{ campaigns.campaigns.job_number }}&client_id={{ campaigns.campaigns.client_id }}&campaign={{ campaigns.campaigns.campaign }}</p>
        </div>
    </div>
    {% if campaigns.sends %}
    <table class="table table-striped table-hover">
        <tr class="info">
            <th style="20%">Index</th>
            <th style="width: 20%">Source IP</th>
            <th style="width: 15%">Job Number</th>
            <th style="width: 15%;">Send Hash</th>
            <th style="width: 15%">Capture Date</th>
            <th style="width: 15%">Opens</th>
        </tr>
        {% for item in campaigns.sends %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.job_number }}</td>
            <td>{{ item.send_hash }}</td>
            <td>{{ item.sent_date|epoch_to_date }}</td>
            <td>{{ item.opens }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="alert alert-block alert-danger">
            <h4 class="alert-heading"><i class="fa fa-warning"></i> Campaign Notice!</h4>
            <p>This campaign has not received any data captures yet.  Please check back soon.</p>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        function toggleMe(divId) {
            $("#" + divId).toggle();
        }
    </script>
{% endblock %}
